.container {
    width: 80%;
    margin: auto;    
    
}


.box-1 {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    
}

.images {
    padding: 15px;

}

#beige-backround {
    background-color: rgb(250, 235, 215, 0.9);
    
}

body {
    background-image: url(sitebackground.jpg);
    background-size: cover;
    background-attachment: fixed;
}

header {
    background-color: rgb(250, 235, 215);
    background-size: cover;
    font-style: italic;
    padding: 10px;
    margin-top: -8px;
    border: 5px solid rgba(255, 158, 95, 0.8); 

}

h1 { 
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
    text-decoration: underline;
    
    
}

hr {
    margin: 0px;
}


nav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: brown;
    color: wheat;
    border: 5px solid rgba(255, 158, 95, 0.8); 
}

nav a { 
    color: white;
}

nav ul {
    padding-left: 15px;
    
}

nav ul li {
    display: inline;
}

main {
    border: 5px solid rgba(255, 158, 95, 0.8); 
    margin-top: 20px;
    background-color:rgb(250, 235, 215, 0.9);
}

section {
    
    font-family: Arial, Helvetica, sans-serif;
    
}


h2 {
    border: 5px solid black;
    border-style: double;
    border-radius: 10%;
    font-size: 20px;
    padding: 5px;
    padding-left: 15px;
    margin-top: 0px;

}


p {
    padding-left: 15px;
    padding-bottom: 15px;
    
}


